.eventos-container {
    background-color: #f8f8f8;
    padding: 15px;
}

.iconos-tarjeta {
margin: 10px 0px 0px;
padding: 10px 0px 0px; 
padding-left: 25%;
} 

input {
    border: 1px solid #e5e5e5;
    padding: 0 15px;
    line-height: 28px;
    font-size: .875rem;
}
footer {
        padding: 15px 30px;
        border-bottom: 1px solid #dadce0;
        font-size: 15px;
        color: rgba(0, 0, 0,54);
        background-color: #f8f8f8;
}
